In [1]:
import pandas as pd
import numpy as np
import math

In [24]:
height=[185,170,168,179,182,188,180,180,183,180,180,177]
weight=[72,56,60,68,72,77,71,70,84,88,67,76]
age=[52,36,60,68,42,55,21,70,24,68,32,58]
data=pd.DataFrame({'height':height,'weight':weight,'age':age})

In [25]:
data

    height  weight  age
0      185      72   52
1      170      56   36
2      168      60   60
3      179      68   68
4      182      72   42
5      188      77   55
6      180      71   21
7      180      70   70
8      183      84   24
9      180      88   68
10     180      67   32
11     177      76   58

In [26]:
def center_selection(data):
    centers_no=int(input("Enter no. of centers: "))
    features_name=list(data.head(0))
    centers=[]
    for i in range(centers_no):
        centers.append(list(data.iloc[i,:]))
    return centers_no,features_name,centers

In [27]:
centers_no,features_name,centers=center_selection(data)

Enter no. of centers: 3

In [28]:
def get_final_center():
    for i in range(centers_no,len(data)):
        to_update_center=[]
        dist_cluster=[]
        center=0  
        try:
            while center !=len(centers):
                center_col=0
                distence=0
                to_update_center.append(data.iloc[i,center])
                while center_col !=len(features_name):
                    distence+=(data.iloc[i,center_col]-centers[center][center_col])**2
        #               print(data.iloc[i,center_col],centers[center][center_col])
                    center_col+=1
                print(math.sqrt(distence))
                center+=1
                dist_cluster.append(math.sqrt(distence))
        except:
            continue
        min_index=dist_cluster.index(min(dist_cluster))
        for l in range(len(features_name)):
            centers[min_index][l]=(centers[min_index][l]+to_update_center[l])/len(features_name)
    return centers

In [29]:
get_final_center()

17.549928774784245
35.34119409414458
15.7797338380595
10.44030650891055
20.8806130178211
72.53275122315435
75.58585993571961
33.555923471125034
81.01234473831751
62.93824133404287
66.92284114311546
73.55949972641196
99.79157291420633
76.89386624865905
75.05331438384317
93.64247743544014
75.27947927556355
97.32267826002172
105.6794010319378
103.97168417944913
100.52215528779566
85.05960147137499
83.99867723826237
90.75998284264222
93.67332255249994
101.06989391896145
93.63505024158879

[[100.77777777777777, 39.666666666666664, 17.444444444444443],
 [93.5925925925926, 36.59259259259259, 16.703703703703706],
 [89.95061728395062, 39.28395061728395, 31.06172839506173]]